<form action="" [formGroup]='productForm'>
  <!-- <mat-label>Name</mat-label><span class="text-danger">*</span> -->
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput type="text" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput type="text" required>
  </mat-form-field>
  <mat-dialog-actions class="pull-right">
    <div *ngIf="data">
      <div *ngIf="data.val == false">
        <button mat-raised-button type="button" (click)="save()"
          color="primary">Save</button>
      </div>
      <div *ngIf="data.val == true">
        <button mat-raised-button type="button" (click)="update()"
          color="primary">Update</button>
      </div>
    </div>
    <button mat-raised-button type="button" (click)="close()" color="warn">Cancel</button>
  </mat-dialog-actions>
</form>
